
.flex-container :nth-child(2) {
   gap: 10px;
}
button {
    width: 2rem;
    height: 2rem;
    border-radius: 30%;
    border:none;
    font-size: 1.1rem;
}
button:hover{
    background-color:rgb(174, 108, 236)
}
